{% for item in items %}
    {% if item.is_dir %}
        <div class="folder-item" onclick="toggleFolder(this)" data-path="{{ item.path }}" data-name="{{ item.name }}">
            <i class="bi bi-folder"></i> {{ item.name }}
        </div>
        <div class="folder-contents" style="display: none;">
            {% include 'users/partials/file_tree.html' with items=item.children parent_path=item.path %}
        </div>
    {% else %}
        <div class="file-item {% if current_file and current_file.path == item.path %}active{% endif %}" 
             onclick="openFile('{{ item.path }}')" 
             data-path="{{ item.path }}" 
             data-name="{{ item.name }}">
            {% if item.extension == 'py' %}
                <i class="bi bi-filetype-py"></i>
            {% elif item.extension == 'js' %}
                <i class="bi bi-filetype-js"></i>
            {% elif item.extension == 'html' %}
                <i class="bi bi-filetype-html"></i>
            {% elif item.extension == 'css' %}
                <i class="bi bi-filetype-css"></i>
            {% elif item.extension == 'json' %}
                <i class="bi bi-filetype-json"></i>
            {% elif item.extension == 'md' %}
                <i class="bi bi-filetype-md"></i>
            {% elif item.extension == 'txt' %}
                <i class="bi bi-file-text"></i>
            {% else %}
                <i class="bi bi-file-earmark"></i>
            {% endif %}
            {{ item.name }}
        </div>
    {% endif %}
{% endfor %}
